body {
    background: url(https://encrypted-tbn0.gstatic.com/https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTACGB9BJIna547BmVD4IgSaLq9CH471H7BNQ&s?q=tbn:ANd9GcTiDHYwdsaiB3UzTWHuDrye_RkAy8X9DjtsiQ&s);
    background-repeat: no-repeat;
    background-size: cover ;
}

.main {
    justify-self: center;
    margin: 10rem 0rem;
    background-color: rgb(207, 209, 118);
    border-radius: 10px;
    padding: 2rem 20px;
}

h1 {
    justify-self: center;
}

form {
    margin: 20px 5rem;
}
.cpy_btn{
    border: 0;
    border-radius: 0px 10px 10px 0px;
    padding: 0px 20px;
    font-size: larger;
    display: none;
}
.form-group{
    display: flex;
}
#output {
    font-size: xx-large;
    width: 40rem;
    border-radius: 10px 0px 0px 10px ;
}

.selection {
    margin-left: 40px;
    padding: 2px;
}

.slc_text {
    font-size: x-large;
}

table {
    width: 40rem;
    margin-bottom: 2rem;
}

.gen_but {
    background-color: rgb(45, 70, 215);
    padding: 10px 40px;
    font-size: large;
    border-radius: 10px;
    color: white;
}

input.selection{
    height: 25px;
    width: 25px;
}